<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuzzNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BuzzNet.Properties.Settings>
            <setting name="UseImageBrain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UrlTrainingImages" serializeAs="String">
                <value>..\..\..\data\training</value>
            </setting>
            <setting name="ImageExt" serializeAs="String">
                <value>*.png</value>
            </setting>
            <setting name="DrawNet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseInhibitors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WeightDelta" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Train" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCircleOptimization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOptimumDuringTraining" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UrlDefaultBrain" serializeAs="String">
                <value>net.buzz</value>
            </setting>
            <setting name="UIRefreshRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartTrainWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EndTrainWeight" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Layers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ImageTileSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ScoreDelta" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ScoreXDelta" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="ShowIntermediateResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMatrixBrain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PositiveResult" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="UseRandomWeights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfIterations" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="ChangeAfterIterations" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DeltaChangeBase" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ChangeDeltaAfterReusingBestWeightNumOfTimes" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DeltaChangeMinimum" serializeAs="String">
                <value>1E-05</value>
            </setting>
            <setting name="NumberOfDirectionChangesBeforeReset" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ChangeDeltaAfterSubsequentWorstWeightScore" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RelevantScoreDelta" serializeAs="String">
                <value>1E-11</value>
            </setting>
            <setting name="UseMutation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeDeltaAfterSubsequentDeterioratingScore"
                serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Snapshot" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DesiredNumOfChartDataPoints" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaximumError" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="IsLogarithmicXAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistSnapshotImageTiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxX" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="DataPointReduceFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnablePreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialZeroParams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultThreashold" serializeAs="String">
                <value>1</value>
            </setting>
        </BuzzNet.Properties.Settings>
    </applicationSettings>
</configuration>